.main {
    /* width */
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
    /* background:none; */
}

#playerCard {
    margin: 7rem auto;
}

.box {
    border: 2px solid;
    height: 6rem;
    width: 30%;
    transition: 0.3s;
}

.box:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 770px) {
    .box {
    height: 4rem;
    }
  }
  @media screen and (max-width: 540px) {
    .box {
    height: 3rem;
    }
  }